# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.GraphQl-HotChocolate-Demo.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Projects\C#\Rider\CQRS-Mediator-Demo\GraphQl-HotChocolate-Demo\.idea\.idea.GraphQl-HotChocolate-Demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
